/* @import url("https://fonts.googleapis.com/css?family=Open+Sans"); */

        /* Styles */
        * {
            margin: 0;
            padding: 0;
        }

        body {
            /* font-family: "Open Sans"; */
            /* font-size: 14px; */
            display: grid;
        }

        .form-dangki {
            width: 500px;
            max-width: calc(100% - 32px);
            margin: 25px auto;
        }

        .tieude {
            margin-bottom: 1rem;
        }

        @keyframes example {
            0%   { left:0px; top:0px;}
            25%  { left:200px; top:0px;}
            50%  { left:200px; top:200px;}
            75%  { left:0px; top:200px;}
            100% { left:0px; top:0px;}
          }
        form {
            padding: 20px;
            background-color: #667db6;;
            color: #fff;
            border-radius: 4px;
            margin-bottom: 64px;
            position: relative;
            animation-name: example;
            animation-duration: 4s;
        }

        form label,
        form input,
        form button {
            border: 0;
            margin-bottom: 3px;
            display: block;
            width: 100%;
        }

        form input {
            height: 25px;
            line-height: 25px;
            background: #fff;
            color: #000;
            padding: 0 6px;
            box-sizing: border-box;
        }

        form button {
            height: 30px;
            line-height: 30px;
            background: #ACB6E5;
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 1.5rem;
            cursor: pointer;
        }

        form .error {
            color: #ff0000;
        }

        .article-reference {
            margin-top: 15px;
        }

        .article-reference a {
            color: #e67e22;
        }
        #user{
            margin-top: 30px;
        }

        .reset-form:hover{
            color:  #fff;
        }

        .slide-dangki{
            background-image: url('/assests/css/dao-yen-hon-noi-o-nha-trang-820x436.jpg');
        }

        .border-radius{
            border-radius: 4px;
        }

        /* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}
.text-white{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col-half{
    width: 50%;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}

.column-3{
    width: 33.33333%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
#header {
    height: 46px;
    background-image:  linear-gradient(#000046,#1CB5E0);
    /* background-image:  linear-gradient(#56CCF2,#2F80ED); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* overflow: hidden; */
    /* animation-name: headerLinear;
    animation-duration: 4s; */
    
}

/* @keyframes headerLinear {
    from { background-color: #000;}
    to {background-image:  linear-gradient(#000046,#1CB5E0);}
} */
#nav{
    display: inline-block;
}
#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li:hover .subnav{
    display: block;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px; 
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav > li:hover > a{
    color: black;
    background-color: #fff;
    opacity: 1;
}
#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li:hover {
    color: black;
    background-color: #ccc;
}

.nav-arrow-down{
    font-size: 13px;
}


#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}


#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}


#header .search-btn:hover{
    background-color: tomato;
    cursor: pointer;
}


#header .menu-icon,
#header .search-icon{
    color: white;
    font-size: 20px;
    line-height: 46px;
}

.slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* background:url('/assests/hinh-anh-ben-thuyen-o-nha-trang_085936579.jpg'); */
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}
.text-heading{
    font-weight: 500;
    font-size: 30px;
}

.text-description{
    font-size: 15px;
    margin-top: 25px;
}



#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}
.section-heading{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

.section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

.about-text{
    font-size: 15px;
    text-align: justify;
    margin-top: 25px;
    line-height: 1.4;
    /* tieng viet thi 1.6 */
}

#content .member-item{
    /* width: calc(100% / 3); */
    text-align: center;
}

.member-list{
    margin-top: 48px;
}

.member-name{
    font-size: 15px;
}

.member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
    cursor:pointer;
}
.clear{
    clear: both;
}

.tour-section{
    /* background-color: black; */
    background-image:  linear-gradient(#6D6027,#D3CBB8);
}

.content-section{
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}

.ticket-list{
    background: #fff;
    margin-top: 40px;
    list-style: none;
    border-radius: 4px;
    overflow: hidden;
}

.ticket-list li {
      color: #757575;
      font-size: 15px;
      padding: 11px 16px;
      border-bottom: 1px solid #ddd;
}

.sold-out{
    background-color: #f44336;
    color:  white;
    padding: 3px 4px;
    margin-left: 16px;
}

.quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.places-list{
    margin-top: 16px;
    display: flex;
}

.place-img{
    width: 100%;
    padding: 0 8px;
    display: block;
    border-top-left-radius: 25px;
    /* overflow: hidden; */
    /* border-bottom-right-radius: 12px; */
    border-top-right-radius: 25px
}

.place-img:hover{
    opacity: 0.6;
    cursor: pointer;
}
.place-body{
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
    padding: 16px;
    font-size: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time,
.place-desc{
    margin-top: 15px;
}
.place-time{
    color: #757575;
}

.place-desc{
    line-height: 1.4;
}

.place-buy-btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-info a{
    opacity: 0.8;
    /* color: #101aef; */
    color: rgb(95, 66, 66);
}

.contact-info a:hover{
    opacity: 1;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
     padding: 10px;
     border: 1px solid #ccc;
     /* border-radius: #ccc; */
     width: 100%;
     outline: none;
     border-radius: 5px;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.contact-form .form-submit-btn{
    float: right;
    color: white;
    background-color: black;
    padding: 10px 16px;
    /* border: 1px solid black; */
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.form-submit-btn:hover{
    color: #000;
    background-color: #ccc;
}

.map-section img{
    width: 100%;
}
.footer {
    padding: 32px 16px;
    text-align: center;
}
.social{
    font-size: 24px;
}
.social a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.copright{
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.last-text:hover,
.social a:hover{
    color: rgba(0, 0, 0, 0.3);
}

.last-text{
    /* text-decoration: none; */
    color: rgba(0, 0, 0, 0.6);
    margin-top: 16px;
    font-size: 14px;
}

.last_text{
    margin-top: 12px;
    color: gray;
    font-size: 14px;
}

.modal-pic{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    animation: modalPicFadeIn ease .9s;
}

.modal-pic img{
    max-width: calc(100% - 32px);
}

.modal-pic-open{
    display: flex;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    /* sua o day */
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    border-radius: 10px;
    position: relative;
    animation: modalFadeIn ease .5s;
    overflow: hidden;
}

.modal-header{
    background-color: #1CB5E0;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heaeding-icon{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.modal-close:hover{
    opacity: 1;
    background-color: #fff;
    color: black;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    /* border: 1px solid #ccc; */
    border-radius: 4px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;

}

#buy-ticket{
    background-color: #1CB5E0;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: #fff;
    padding: 18px;
    font-size: 15px;
}

#buy-ticket:hover{
    cursor: pointer;
    opacity: 0.9;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
form .error {
    color: #ff0000;
}

.chantrangdangki{
    background-color: #fff;
}

.login-hungbui{
    text-decoration: none;
    color: #fff;
}


.chuanut{
display: flex;
}

.more{
    margin: 0 auto;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    padding: 20px 35px;

    border-radius: 4px;
}
.more:hover{
    opacity: 0.8;
}

.category {
    width: 100%;
    height: 128px;
    border: 1px solid whitesmoke;
    display: flex;
    background-color: #6D6027;
    border-radius: 4px;
}

.baymuoiphantram:hover,
.muoinamphantram :hover{
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.muoinamphantram {
    width: 45%;
    border-right: 1px solid whitesmoke;
    height: 127px;
}

.baymuoiphantram {
    width: 70%;
    border-right: 1px solid whitesmoke;
    height: 127px;
}

.allshoes {
    line-height: 128px;
    text-transform: uppercase;
    text-align: center;
}
.available{
    line-height: 128px;
    text-transform: uppercase;
    text-align: center;
}

.textincategory{
    font-size: 20px;
    color: white;
}
.pt36{
    padding-top: 36px;
}

.phantrang-item {
    margin: 0 12px;
}

.phantrang-item--active .phantrang-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.phantrang-item--active .phantrang-item__link {
    background-color: #ACB6E5;
}

.phantrang-item__link {
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}


.home-product__phantrang {
    margin-top: 50px;
    margin-bottom: 34px;
}

.phantrang {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.shopnow{
    color: #000;
    margin-left: 18px;
}

.button-close {
    height: 580px;
}
.button-close i{
   padding: 10px;
    color: #fff;
    cursor: pointer;
}
.button-close i:hover{
    background-color: #fff;
    color: #000;
}

@keyframes modalPicFadeIn {
    from {
        opacity: 0;
        transform: translateX(-2000px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
body{
    background-color: #D3CBB8;
}



/* CSS Product Details */


body {
    background-color: #D3CBB8;
}

ul#nav {
    padding: 0;
}

img {
    max-width: 100%;
}

.preview {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.card {
    margin-top: 100px;
    margin-bottom: 60px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
    border: none;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column; */
    flex-direction: column;
}

.colors {
    /* -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1; */
    flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked,
.price span {
    color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.add-to-cart,
.like {
    background: #000;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    /* -webkit-transition: background .3s ease;*/
    transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
    background: #fff;
    color: #000;
    text-decoration: none;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}


.action {
    margin-bottom: 200px;
}


/* CSS LOGIN OUTSIDE */

.dip {
    /* width: 100px; */
    height: 50px;
    background: linear-gradient(to right, #4daf54, #3d8880);
    /* background: linear-gradient( #4daf54, #FFF94C); */
    font-weight: bold;
    position: relative;
    animation: mymove 7s infinite alternate;
}

.dip1 {
    height: 50px;
    background-image: linear-gradient(to right, #004FF9, #FFF94C);
    font-weight: bold;
    position: relative;
    animation: mymove2 7s infinite alternate;
}

.div1 {
    animation-timing-function: linear;
}

.div2 {
    animation-timing-function: ease;
}

.div3 {
    animation-timing-function: ease-in;
}

.div4 {
    animation-timing-function: ease-out;
}

.div5 {
    animation-timing-function: ease-in-out;
}

.ani {
    height: 214px;
}




/* VIDEO MP4 */
#video-file{
    max-width: 100%;
    height: auto;
    margin-bottom: -5px;
}
#video-file1{
    max-width: 100%;
    height: auto;
    margin-bottom: -5px;
}
#video-file2{
    max-width: 100%;
    height: auto;
    margin-bottom: -5px;
}
#video-file3{
    max-width: 100%;
    height: auto;
    margin-bottom: -5px;
}
.video__content {
    position: relative;
}
  
.video__button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 0.4rem 1rem;
}

.video__button-icon {
    font-size: 1.2rem;
}

.graycolor{
    color: gray;
}